### Dictionary
1. A dictionary item is a key-value pair so the key must be unique, but the values can be the same or different
2. Dictionaries use curly brackets to hold their information.

In [2]:
person = {'name': 'Big Bird', 'age': 39, 'height': 6 * 12 + 2}
print(person)

{'name': 'Big Bird', 'age': 39, 'height': 74}

In [3]:
print(len(person))

3

In [4]:
product = {"prod id" : "12365401", "brand" : "Browny", 
           "qty" : 97, "price" : 15.99}
print(product)

{'prod id': '12365401', 'brand': 'Browny', 'qty': 97, 'price': 15.99}

In [5]:
spanish_123 = { 1:"uno", 2.3:"dos", "3":"tres"}
print(spanish_123)

{1: 'uno', 2.3: 'dos', '3': 'tres'}

In [6]:
spanish_123 = { 1:"uno", 2.3:"dos", "3":"tres", True : 5} #ssigns 1 t 5 because True = 1
print(spanish_123)

{1: 5, 2.3: 'dos', '3': 'tres'}

In [7]:
spanish_123 = { 1:"uno", "two":"dos", "3":"tres"}
print(spanish_123)

{1: 'uno', 'two': 'dos', '3': 'tres'}

In [8]:
python = ['Python 1', 
           'Python 2', 
           'Data Analytics Bootcamp', 
           'Data Analytics Advanced']

java = ['Java Programming', 'Java Web Development']

options = {"python" : python, "java" : java}
print(options)

{'python': ['Python 1', 'Python 2', 'Data Analytics Bootcamp', 'Data Analytics Advanced'], 'java': ['Java Programming', 'Java Web Development']}

In [9]:
country1 = {"country": "USA", "capital" : "Washington DC"}
country2 = {"country": "Thailand", "capital" : "Bangkok"}
country3 = {"country": "Canada", "capital" : "Ottawa"}
country4 = {"country": "Iceland", "capital" : "Reykjavik"}
country5 = {"country": "Dominican Republic", "capital" : "Santo Domingo"}
country6 = {"country": "England", "capital" : "London"}

In [10]:
travel = [country1, country2, country3, country4, country5]
print(travel)

[{'country': 'USA', 'capital': 'Washington DC'}, {'country': 'Thailand', 'capital': 'Bangkok'}, {'country': 'Canada', 'capital': 'Ottawa'}, {'country': 'Iceland', 'capital': 'Reykjavik'}, {'country': 'Dominican Republic', 'capital': 'Santo Domingo'}]

In [11]:
print(travel[0])

{'country': 'USA', 'capital': 'Washington DC'}

In [12]:
north_america = {"CA":"Canada", "US":"United States"}
states = {"AL" : "Alabama", "MD" : "Maryland", "VA" : "Virginia"}
temp_dict = {"country" : north_america, "states" : states}
print(temp_dict)

{'country': {'CA': 'Canada', 'US': 'United States'}, 'states': {'AL': 'Alabama', 'MD': 'Maryland', 'VA': 'Virginia'}}

In [13]:
# unique key
misc = { 1:"uno", "item" : "coffee", 1 : "one", 1 : "who?"}
print(misc)

{1: 'who?', 'item': 'coffee'}

In [14]:
if 1 in misc :
    print(misc[1])
else :
    print("Unknown")

who?

In [15]:
print(misc[1])

who?

In [16]:
print(misc["item"])

coffee

In [17]:
print(misc[0])   # not indexed

KeyError: 0

In [18]:
if 0 in misc :
    print(misc[0])
else :
    print("Unknown")  # not indexed

Unknown

In [19]:
print(states)
print(states["AL"])
print(states["AZ"])

{'AL': 'Alabama', 'MD': 'Maryland', 'VA': 'Virginia'}
Alabama

KeyError: 'AZ'

In [20]:
"MD" in states  # checking all keys

True

In [21]:
"NY" in states

False

In [22]:
if "NY" in states :
    state = states["NY"]
else :
    state = "Unknown"
    
print(state)

Unknown

In [23]:
key = "MD"
if key in states :
    state = states[key]
else :
    state = "Unknown"
    
print(state)

Maryland

In [24]:
# Adding to a dictionary, starting from empty dictionary
student = {}

# look at the syntax
# we use brackets to either call or create new keys in our dictionary
# The new keys have to be unique or else you update the same key with a new value

student[1] = 12345         # add in a new key and value, both a number
student[2] = 'Hello'    # add another but this time the value is a string
student['grade'] = 'A'  # add another but this time with a string key and string value

#lets print out the dictionary and see whats inside now
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A'}

In [25]:
# add list as a value

hobbies = ["hiking", "tennis", "foodie"]
student["hobbies"] = hobbies
print(student)
print(student["hobbies"])

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': ['hiking', 'tennis', 'foodie']}
['hiking', 'tennis', 'foodie']

In [26]:
# change value
student["gpa"] = 3.5
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': ['hiking', 'tennis', 'foodie'], 'gpa': 3.5}

In [27]:
student["gpa"] = 3.55
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': ['hiking', 'tennis', 'foodie'], 'gpa': 3.55}

In [28]:
print(student["hobbies"])

['hiking', 'tennis', 'foodie']

In [29]:
student["hobbies"].append("binge watching")   # use list method
print(student["hobbies"])

['hiking', 'tennis', 'foodie', 'binge watching']

In [30]:
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': ['hiking', 'tennis', 'foodie', 'binge watching'], 'gpa': 3.55}

In [31]:
student["hobbies"][0] = 'movies'         # use indexing for list
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': ['movies', 'tennis', 'foodie', 'binge watching'], 'gpa': 3.55}

In [32]:
# insert 'hiking' in front of movies  - need to just operate on the 
#list alone
hobbies.insert(0, 'hiking')
        
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': ['hiking', 'movies', 'tennis', 'foodie', 'binge watching'], 'gpa': 3.55}

In [33]:
temp =student["hobbies"]
student["hobbies"] = 123  #replace the hobbies list ['movies', 'tennis', 'foodie', 'binge watching']
print(student["hobbies"])

123

In [34]:
student["temp"] = 999
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': 123, 'gpa': 3.55, 'temp': 999}

In [35]:
# access an item
grade = student["grade"]
print(grade)

A

In [36]:
major = student["major"]
print(major)

KeyError: 'major'

In [37]:
class1 = {"name" : "English", "grade" : "A"}
class2 = {"name" : "Math", "grade" : "B"}
classes = [class1, class2]
student["classes"] = classes
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': 123, 'gpa': 3.55, 'temp': 999, 'classes': [{'name': 'English', 'grade': 'A'}, {'name': 'Math', 'grade': 'B'}]}

In [38]:
classes = [class2, class1]
student["classes"] = classes
print(student)

{1: 12345, 2: 'Hello', 'grade': 'A', 'hobbies': 123, 'gpa': 3.55, 'temp': 999, 'classes': [{'name': 'Math', 'grade': 'B'}, {'name': 'English', 'grade': 'A'}]}

### Exercise 1
Create an empty dictionary named book.  Then, store information about a book’s title, authors, genre and ISBN. Print out the dictionary

In [ ]:
book = {}
book["title"] = input("Enter book's title")
book["author"] = input("Enter author's name")
book["genre"] = input("Enter book's genre")
book["ISBN"] = input("Enter book's ISBN")

print(book)

### Dictionary Methods
retrieve value based on key

In [39]:
book = {}
book["title"] = "Storytelling with Data"
book["authors"] = ["Cole Nussbaumer Knaflic"]
book["genre"] = "business"
book["ISBN"] = "1119002257"
print(book)

{'title': 'Storytelling with Data', 'authors': ['Cole Nussbaumer Knaflic'], 'genre': 'business', 'ISBN': '1119002257'}

In [40]:
print(f"Title: \t\t{book['title']}")
print(f"authors: \t{book['authors']}")
print(f"genre: \t\t{book['genre']}")
print(f"ISBN: \t\t{book['ISBN']}")

Title: 		Storytelling with Data
authors: 	['Cole Nussbaumer Knaflic']
genre: 		business
ISBN: 		1119002257

In [41]:
# using get() method

title = book.get('title')
print(f"Title: \t{title}")

Title: 	Storytelling with Data

In [42]:
p2 = book["price"]
print(f"Price:\t{p2}")

KeyError: 'price'

In [43]:
price = book.get('price')
print(f"price: \t{price}")

price: 	None

In [44]:
print(type(price))

<class 'NoneType'>

In [45]:
price = book.get('price', "Unknown")
print(f"price: \t{price}")

price: 	Unknown

In [46]:
price = book.get('price', "out of stock")
print(f"price: \t{price}")

price: 	out of stock

In [47]:
# checking for None  

print(person)
education = person.get("education")
print(education)

{'name': 'Big Bird', 'age': 39, 'height': 74}
None

In [48]:
education is None

True

In [49]:
education == None

True

In [50]:
print(title)
print(title is None)

Storytelling with Data
False

In [51]:

print("" is None)

False

In [52]:
# checking for None  

education = person.get("education")

if education is None :
    print("Unknown")
else :    
    print(education)

Unknown

In [53]:
education = person.get("education", "Unknown")
print(education)

Unknown

In [54]:
# compare with...
print(book)
if "price" in book :       # is 'price' a key in book dictionary?
    print(book["price"])
else :    
    print("Unknown")

{'title': 'Storytelling with Data', 'authors': ['Cole Nussbaumer Knaflic'], 'genre': 'business', 'ISBN': '1119002257'}
Unknown

In [55]:
# Compare above cell with this one  

# person["education"] = "in process"

if "education" in person :
    education = person["education"]
else :    
    education = "Unknown"
    
print(education)
print(person)

Unknown
{'name': 'Big Bird', 'age': 39, 'height': 74}

In [56]:
# remove an item
print(person)
item = person.pop("age")
print(item)
print(person)

{'name': 'Big Bird', 'age': 39, 'height': 74}
39
{'name': 'Big Bird', 'height': 74}

In [57]:
# remove an item
print(person)
education = person.pop("education")
print(education)
print(person)

{'name': 'Big Bird', 'height': 74}

KeyError: 'education'

In [58]:
education = person.pop("education", "not available") 
print(education)
print(person)

not available
{'name': 'Big Bird', 'height': 74}

In [59]:
# remove an item

student = {}
student["status"] = "in process"
print(f"before pop {student}")
print(student.pop("status"))
print(f"after pop {student}")

before pop {'status': 'in process'}
in process
after pop {}

In [60]:
# remove the last inserted item

student["name"] = "John"
student["status"] = "in process"
print(student)

last = student.popitem()

print(last)
print(student)

{'name': 'John', 'status': 'in process'}
('status', 'in process')
{'name': 'John'}

In [61]:
samples = {}
sample = samples.popitem()
print(sample)
print(samples)

KeyError: 'popitem(): dictionary is empty'

In [62]:
print(len(samples))
print(samples)

0
{}

In [63]:
# clear a dictionary

person["name"] = "John"
print(person)
print(id(person))
print()

person.clear()

print(person)
print(id(person))
print(len(person))

{'name': 'John', 'height': 74}
2806924729152

{}
2806924729152
0

In [64]:
person = {"name": "John", "grade" : "3"}
print(id(person))
print(person)
del person["name"]
print(person)

2806925490648
{'name': 'John', 'grade': '3'}
{'grade': '3'}

In [65]:
del person["name"]   # already deleted
print(person)

KeyError: 'name'

In [66]:
print(person)

{'grade': '3'}

In [67]:
# delete a dictionary
#del person["name"]
del person
print(person)

NameError: name 'person' is not defined

In [68]:
print(sue)

NameError: name 'sue' is not defined

In [69]:
# looping a dictionary

person = {"name": 'Elmo', 
          'grade': 'A', 
          'hobbies': ['hiking', 'tennis', 'foodie'], 
          'height': 73.5}
print(person)

for x in person:
    print(f"x = {x}, \t{person[x]}")

{'name': 'Elmo', 'grade': 'A', 'hobbies': ['hiking', 'tennis', 'foodie'], 'height': 73.5}
x = name, 	Elmo
x = grade, 	A
x = hobbies, 	['hiking', 'tennis', 'foodie']
x = height, 	73.5

### Exercise 2
Create a dictionary to store information about a book: book’s title, author, genre and ISBN. 
Then, print out each item in the dictionary using a loop.
(You can use your code from exercise 1)

In [ ]:
# Create a dictionary to store information about a book:title, author, genre and ISBN




# Then, print out each item in the dictionary using a loop
for key in book



    print(f"{key}\t:\t{val}")

### dictionary methods

In [70]:
# dictionary method: keys()

print(person)
print(person.keys())

{'name': 'Elmo', 'grade': 'A', 'hobbies': ['hiking', 'tennis', 'foodie'], 'height': 73.5}
dict_keys(['name', 'grade', 'hobbies', 'height'])

In [71]:
# if you want the keys

print("***Print the keys***")
for key in person.keys():
    print(key)

***Print the keys***
name
grade
hobbies
height

In [72]:
# using keys(), retrieve each key's value

for key in person.keys():
    print(key, "has value of", person[key])

name has value of Elmo
grade has value of A
hobbies has value of ['hiking', 'tennis', 'foodie']
height has value of 73.5

In [73]:
# if you want to get just the values

print("***Print the values***\n")
for value in person.values():
    print(value)

***Print the values***

Elmo
A
['hiking', 'tennis', 'foodie']
73.5

In [74]:
# if you want to see the keys and values

print(person.items())

dict_items([('name', 'Elmo'), ('grade', 'A'), ('hobbies', ['hiking', 'tennis', 'foodie']), ('height', 73.5)])

In [75]:
# if you want to see the key, value pairs

print("***By both keys and values***\n")
for a in person.items():
    print(a)

***By both keys and values***

('name', 'Elmo')
('grade', 'A')
('hobbies', ['hiking', 'tennis', 'foodie'])
('height', 73.5)

In [76]:
x = 3
y = 1
print(x,y)
z = x
x = y
y = z
print(x,y)

3 1
1 3

In [77]:
x = 3
y = 1
print(f"x={x}\ty={y}\n")

x, y = y, x    # done simultaneously

print(f"x={x}\ty={y}\n")

x=3	y=1

x=1	y=3

In [78]:
# if you want to see the keys and values

for key, value in person.items():                     # assigns key and value variable simultaneously
    print(f"key: {key}\tvalue: {value}")

key: name	value: Elmo
key: grade	value: A
key: hobbies	value: ['hiking', 'tennis', 'foodie']
key: height	value: 73.5

In [79]:
# if you want to see the keys and values

for a, b in person.items():                     # assigns key and value variable simultaneously
    print(f"key: {a}\tvalue: {b}")

key: name	value: Elmo
key: grade	value: A
key: hobbies	value: ['hiking', 'tennis', 'foodie']
key: height	value: 73.5

In [80]:
# another look...

for key in person :
    value = person[key]
    print(f"key: {key}\tvalue: {value}")

key: name	value: Elmo
key: grade	value: A
key: hobbies	value: ['hiking', 'tennis', 'foodie']
key: height	value: 73.5

In [81]:
polls = {"bart" : "yes", "marge" : "yes", "lisa" : "no"}
for item in polls.values() :
    print(item)

yes
yes
no

In [82]:
poll_result = {}
for item in polls.values() :
    if item in poll_result :
        poll_result[item] += 1
    else :    
        poll_result[item] = 1

print(poll_result)

{'yes': 2, 'no': 1}

In [83]:
# dictionary method: copy() 

polls = {"bart" : "yes", "marge" : "yes", "lisa" : "no"}
polls_assgn = polls
polls_copy = polls.copy()

print(f"polls:\t\t{polls}")
print(f"polls_assgn:\t{polls_assgn}")
print(f"polls_copy:\t{polls_copy}")

polls:		{'bart': 'yes', 'marge': 'yes', 'lisa': 'no'}
polls_assgn:	{'bart': 'yes', 'marge': 'yes', 'lisa': 'no'}
polls_copy:	{'bart': 'yes', 'marge': 'yes', 'lisa': 'no'}

In [84]:

x = polls.popitem()
print(f"polls:\t\t{polls}")
print(f"polls_assgn:\t{polls_assgn}")
print(f"polls_copy:\t{polls_copy}")
print()
print(x)

polls:		{'bart': 'yes', 'marge': 'yes'}
polls_assgn:	{'bart': 'yes', 'marge': 'yes'}
polls_copy:	{'bart': 'yes', 'marge': 'yes', 'lisa': 'no'}

('lisa', 'no')

### Exercise 3
Create a program to ask several people for their name and their favorite drink. 
Then, summarize your finding.
Fix errors and run to show it works.

In [ ]:
# fix errors

survey = {}

# loop to ask for name and favorite drink
answer = ""
while answer != 'q' :
    name = input("What's your name? ")
    survey['name'] = input("What's your favorite drink? ")
    
    name = input("Would you like to continue? (y/n)")


# calculate the total number of each drinks
result = {}

for item in polls.values()                
  if item in poll_result :
    poll_result[item] += 1
  else     
    poll_result[item] = 1
        
# print the result

### Nested dictionary

In [86]:
# Nested dictionary

product = {"item" : 1265401, "brand" : "Browny", "price" : 15.99}
products = { "location" : "online", 1 : product}
print(products)
print(len(products))

{'location': 'online', 1: {'item': 1265401, 'brand': 'Browny', 'price': 15.99}}
2

In [87]:
print("products information")
print(f"key: location \tvalue: {products['location']}")
print(f"key: 1 \t\tvalue: {products[1]}")

products information
key: location 	value: online
key: 1 		value: {'item': 1265401, 'brand': 'Browny', 'price': 15.99}

In [88]:
for key in products[1].keys() :
    print(f"\tkey: {key} \tvalue: {products[1][key]}")

	key: item 	value: 1265401
	key: brand 	value: Browny
	key: price 	value: 15.99

In [89]:
product2 = {"item" : 124578, "brand" : "MC", "price" : 29.05}
products[2] = product2 #adds product2 to dict products 
print(products)
print(len(products))

{'location': 'online', 1: {'item': 1265401, 'brand': 'Browny', 'price': 15.99}, 2: {'item': 124578, 'brand': 'MC', 'price': 29.05}}
3

In [90]:
print("products information")

for key, value in products.items() :    
    if (type(value) == dict) :    
        print(f"key: {key} \tvalue:")
        for key2, value2 in products[key].items() :       
            print(f"\tkey: {key2} \tvalue: {value2}") 
    else :         
        print(f"key: {key} \tvalue: {value}")

products information
key: location 	value: online
key: 1 	value:
	key: item 	value: 1265401
	key: brand 	value: Browny
	key: price 	value: 15.99
key: 2 	value:
	key: item 	value: 124578
	key: brand 	value: MC
	key: price 	value: 29.05

In [91]:
def print_dictionary(dictionary) :

    for key, value in dictionary.items() :    
        if (type(value) == dict) :    
            print(f"key: {key} \tvalue:")
            for key2, value2 in dictionary[key].items() :       
                print(f"\tkey: {key2} \tvalue: {value2}") 
        else :         
            print(f"key: {key} \tvalue: {value}")

In [92]:
print_dictionary(products)

key: location 	value: online
key: 1 	value:
	key: item 	value: 1265401
	key: brand 	value: Browny
	key: price 	value: 15.99
key: 2 	value:
	key: item 	value: 124578
	key: brand 	value: MC
	key: price 	value: 29.05

In [93]:
products[3] = [1, 2, 3, 4, 5]
print_dictionary(products)
print(len(products))

key: location 	value: online
key: 1 	value:
	key: item 	value: 1265401
	key: brand 	value: Browny
	key: price 	value: 15.99
key: 2 	value:
	key: item 	value: 124578
	key: brand 	value: MC
	key: price 	value: 29.05
key: 3 	value: [1, 2, 3, 4, 5]
4

In [94]:
products[2] = {"type" : "book"}
products[2]["title"] = "Python 1"  #replaces(reassidns) products[2]

print_dictionary(products)

key: location 	value: online
key: 1 	value:
	key: item 	value: 1265401
	key: brand 	value: Browny
	key: price 	value: 15.99
key: 2 	value:
	key: type 	value: book
	key: title 	value: Python 1
key: 3 	value: [1, 2, 3, 4, 5]

In [95]:
products[2]["title"] = "testing"

print_dictionary(products)

key: location 	value: online
key: 1 	value:
	key: item 	value: 1265401
	key: brand 	value: Browny
	key: price 	value: 15.99
key: 2 	value:
	key: type 	value: book
	key: title 	value: testing
key: 3 	value: [1, 2, 3, 4, 5]

In [96]:
# Nested dictionary - example 2
# creating a family dictionary 
# creating a dictionary per each family member

child1 = {
  "name" : "Emily",
  "year" : 2004
}
child2 = {
  "name" : "Toby",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

#now adding all the dictionaries to one
family = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(family)

print_dictionary(family)

{'child1': {'name': 'Emily', 'year': 2004}, 'child2': {'name': 'Toby', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
key: child1 	value:
	key: name 	value: Emily
	key: year 	value: 2004
key: child2 	value:
	key: name 	value: Toby
	key: year 	value: 2007
key: child3 	value:
	key: name 	value: Linus
	key: year 	value: 2011

In [97]:
# OR creating a nested dicitonary where myfamily holds everything
myfamily = {
  "child1" : {
    "name" : "Emily",
    "year" : 2004
  },
  "child2" : {
    "name" : "Toby",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)
print()
print_dictionary(myfamily)

{'child1': {'name': 'Emily', 'year': 2004}, 'child2': {'name': 'Toby', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

key: child1 	value:
	key: name 	value: Emily
	key: year 	value: 2004
key: child2 	value:
	key: name 	value: Toby
	key: year 	value: 2007
key: child3 	value:
	key: name 	value: Linus
	key: year 	value: 2011

In [98]:
print(myfamily['child2']['year'])

2007

In [99]:
family == myfamily

True

In [100]:
"abc" == "ABC".lower()

True

In [101]:
id("abc") == id("ABC")

False

In [102]:
print(id(family))
print(id(myfamily))

2806925552664
2806925553024

In [103]:
# Nested dictionaries need a nested for loop in order to pull out the values - using values(). 

valueInside = False

for child in family.values():
    for value in child.values():
        print(f"value={value}")
        if "2017" in str(value):
            valueInside = True

if valueInside == True:
    print("The value that I'm searching for is inside.")
else:
    print("Sorry the value doesn't exist!")

print(family)

value=Emily
value=2004
value=Toby
value=2007
value=Linus
value=2011
Sorry the value doesn't exist!
{'child1': {'name': 'Emily', 'year': 2004}, 'child2': {'name': 'Toby', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [104]:
# Nested dictionaries need a nested for loop in order to pull out the values - using items(). 

valueInside = False

for torder, child in family.items(): #order is the variable for the dict
    print()
    for key, value in child.items():
        print(f"{key} of {torder} is {value}")
        if "2007" in str(value):
            valueInside = True

if valueInside == True:
    print("The value that I'm searching for is inside.")
else:
    print("Sorry the value doesn't exist!")

name of child1 is Emily
year of child1 is 2004

name of child2 is Toby
year of child2 is 2007

name of child3 is Linus
year of child3 is 2011
The value that I'm searching for is inside.

In [105]:
# Nested Dictionary - example 3
# create a mapping of state to abbreviation
states = {
'Oregon': 'OR',
'Florida': 'FL',
'California': 'CA',
'New York': 'NY',
'Michigan': 'MI'
}

 # create a basic set of states and some cities in them
cities = {
'CA': 'San Francisco',
'MI': 'Detroit',
'FL': 'Jacksonville'
 }

 # add some more cities
cities['NY'] = 'New York'
cities['OR'] = 'Portland'

 # print out some cities
print("NY State has: ", cities['NY'])
print("OR State has: ", cities['OR'])

NY State has:  New York
OR State has:  Portland

In [106]:
print(cities)

print()
print_dictionary(cities)

{'CA': 'San Francisco', 'MI': 'Detroit', 'FL': 'Jacksonville', 'NY': 'New York', 'OR': 'Portland'}

key: CA 	value: San Francisco
key: MI 	value: Detroit
key: FL 	value: Jacksonville
key: NY 	value: New York
key: OR 	value: Portland

In [107]:
# print some states

print("Michigan's abbreviation is: ", states['Michigan'])
print("Florida's abbreviation is: ", states['Florida'])

Michigan's abbreviation is:  MI
Florida's abbreviation is:  FL

In [108]:
print(states)
print()
print_dictionary(states)
print()
print(cities)
print()
print_dictionary(cities)

{'Oregon': 'OR', 'Florida': 'FL', 'California': 'CA', 'New York': 'NY', 'Michigan': 'MI'}

key: Oregon 	value: OR
key: Florida 	value: FL
key: California 	value: CA
key: New York 	value: NY
key: Michigan 	value: MI

{'CA': 'San Francisco', 'MI': 'Detroit', 'FL': 'Jacksonville', 'NY': 'New York', 'OR': 'Portland'}

key: CA 	value: San Francisco
key: MI 	value: Detroit
key: FL 	value: Jacksonville
key: NY 	value: New York
key: OR 	value: Portland

In [109]:
# do it by using the state then cities dict
# cities["MI"]

print(states['Michigan'])
print("Michigan has", cities[states['Michigan']])

MI
Michigan has Detroit

In [110]:
# cities["FL"]

print(states['Florida'])
print("Florida has", cities[states['Florida']])

FL
Florida has Jacksonville

In [111]:
state = 'Michigan'
print(states[state])
print(f"{state} has {cities[states[state]]}")

MI
Michigan has Detroit

In [112]:
# print every state abbreviation

for state, abbrev in states.items():
    print(f"{state} is abbreviated {abbrev}")

Oregon is abbreviated OR
Florida is abbreviated FL
California is abbreviated CA
New York is abbreviated NY
Michigan is abbreviated MI

In [113]:
# print every city in state

for abbrev, city in cities.items():
    print(f"{abbrev} has the city {city}")

CA has the city San Francisco
MI has the city Detroit
FL has the city Jacksonville
NY has the city New York
OR has the city Portland

In [114]:
print("states")
print_dictionary(states)
print("cities")
print_dictionary(cities)

states
key: Oregon 	value: OR
key: Florida 	value: FL
key: California 	value: CA
key: New York 	value: NY
key: Michigan 	value: MI
cities
key: CA 	value: San Francisco
key: MI 	value: Detroit
key: FL 	value: Jacksonville
key: NY 	value: New York
key: OR 	value: Portland

In [115]:
# now do both at the same time
    #key,  value
for state, abbrev in states.items():
    print(f"{state} state is abbreviated {abbrev}")
    print(f"and has city {cities[abbrev]}")

Oregon state is abbreviated OR
and has city Portland
Florida state is abbreviated FL
and has city Jacksonville
California state is abbreviated CA
and has city San Francisco
New York state is abbreviated NY
and has city New York
Michigan state is abbreviated MI
and has city Detroit

In [116]:
# safely get a abbreviation by state that might not be there
state = states.get('Texas')

#what is state?
print(state)

#checking if there is a value or not attached to state
if state != None: #another way to check is    if state:
    print("Yes, Texas exists.")

if state == None: # another way to check is   if not state:
    print("Sorry, no Texas.")

None
Sorry, no Texas.

In [117]:
# or...  simply handling of error
state = states.get('Texas', 'No Texas')
print(state)

No Texas

In [118]:
# get a city with a default value

city = cities.get('TX', 'not available')
print(f"The city for the state 'TX' is {city}")

The city for the state 'TX' is not available

In [119]:
states = {"MD" : "Maryland", "VA" : "Virginia"}
item = states.popitem()
print(item)
print(states)

('VA', 'Virginia')
{'MD': 'Maryland'}

In [120]:
item = states.popitem()
print(item)
print(states)

('MD', 'Maryland')
{}

In [121]:
state = states.get('TX')

In [122]:
print(state)

None