### List
1. Use numbers to index into a list, meaning you can use numbers to find out whatâ€™s in lists. 
2. List uses square brackets.

In [1]:
clothes = ['shirts', 'jacket', 'pants', 'shorts']
scores = [99, 86, 79, 91, 88]

In [2]:
print(clothes)

['shirts', 'jacket', 'pants', 'shorts']

In [3]:
president1 = ["George Washington", 1789, 1797]
print(president1)

['George Washington', 1789, 1797]

In [4]:
president1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
sorted(president1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [6]:
president2 = ["John Adams", 1797, 1801]
president3 = ["Thomas Jefferson", 1801, 1809]

presidents = [president1, president2, president3]
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]

In [7]:
pres = presidents[1]
print(pres)

['John Adams', 1797, 1801]

In [8]:
# indexing

print(clothes)
cloth = clothes[0]
print(cloth)

['shirts', 'jacket', 'pants', 'shorts']
shirts

In [9]:
len(clothes)

4

In [10]:
len(presidents)

3

In [11]:
clothes[4]

IndexError: list index out of range

In [12]:
print(clothes)
clothes[3] = "coat"
print(clothes)

['shirts', 'jacket', 'pants', 'shorts']
['shirts', 'jacket', 'pants', 'coat']

In [13]:
print(clothes)
clothes[3] = ["president1", "abc"]
print(clothes)
print(clothes[3])
len(clothes)

['shirts', 'jacket', 'pants', 'coat']
['shirts', 'jacket', 'pants', ['president1', 'abc']]
['president1', 'abc']

4

In [14]:
print(clothes[3])
a = clothes[3]
print(a[1])
print(clothes[3][1])

['president1', 'abc']
abc
abc

In [15]:
# slicing

print(scores)
new_scores = scores[1 : 3]
print(new_scores)

[99, 86, 79, 91, 88]
[86, 79]

In [16]:
print(presidents)
person = presidents[1]
print(person)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]
['John Adams', 1797, 1801]

In [17]:
print(person[0])
print(presidents[1][0])
print(presidents[1][3])

John Adams
John Adams

IndexError: list index out of range

In [18]:
print(presidents)
print(presidents[0:2][0])   # why?

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]
['George Washington', 1789, 1797]

In [19]:
print(presidents[0:2])

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801]]

In [20]:
# remember, indexing returns an item

squares = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
#squares = [1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares[0])
print(squares[-1])

1
100

In [21]:
# slicing returns a new list
print(squares)
print(squares[-3:])
print(squares[:-3])
print(squares[::-3])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[64, 81, 100]
[1, 4, 9, 16, 25, 36, 49]
[100, 49, 16, 1]

In [22]:
print(squares)
print(squares[7:])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[64, 81, 100]

In [23]:
print(squares[:-3])

[1, 4, 9, 16, 25, 36, 49]

In [24]:
# remember, slicing - [start(inclusive) : end (exclusive) : step (default is 1)]
print(squares)
print(squares[:: 1])
print(squares[:: -1])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [25]:
print(squares)
print(squares[2:7])
print(squares[2:7:2])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[9, 16, 25, 36, 49]
[9, 25, 49]

In [26]:
print(squares)             # original list
print(squares[::-1])       # reversed order
print(squares[:2:-1])      # squares[2] == 9, not inclusive
                           # squares[8], [7], ... [4], [3]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]
[100, 81, 64, 49, 36, 25, 16]

In [27]:
print(squares)             # original list
print(squares[::-2])       # reversed order, every other item
print(squares[:2:-2])      # squares[2] == 9, not inclusive
                           # squares[8], squares[6], squares[4]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[100, 64, 36, 16, 4]
[100, 64, 36, 16]

In [28]:
# initialize list
shopping = []
scores = [0] *10
names = [""] *5
chars = "" *5  #no chars or space

In [29]:
print(f"{shopping} has a length of {len(shopping)}")
print(f"{scores} has a length of {len(scores)}")
print(f"{names} has a length of {len(names)}")
print(f">>>{chars}<<< has a length of {len(chars)}")

[] has a length of 0
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0] has a length of 10
['', '', '', '', ''] has a length of 5
>>><<< has a length of 0

In [30]:
person = "George Washington, 1789, 1797"
person_list = person.split()
print(person_list)

['George', 'Washington,', '1789,', '1797']

In [31]:
print(person)   #stateent
print(len(person))

#Splits the statement at "7" and removes the char
print(person.split("7"))     
print(len(person.split("7")))

#Splits the statement at "0" and This removes the char
print(person.split("o"))
print(len(person.split("o")))

George Washington, 1789, 1797
29
['George Washington, 1', '89, 1', '9', '']
4
['Ge', 'rge Washingt', 'n, 1789, 1797']
3

In [32]:
"George Washington, 1789, 17973".split("7")

['George Washington, 1', '89, 1', '9', '3']

In [33]:
person.split(", ", 2)

['George Washington', '1789', '1797']

In [34]:
person.split(",", 1)[0]

'George Washington'

In [35]:
person.split(",", 1)[1]

' 1789, 1797'

In [36]:
msg = "I'm just a simple man trying to make my way in the universe."
msg_list = msg.split()
print(msg_list)

["I'm", 'just', 'a', 'simple', 'man', 'trying', 'to', 'make', 'my', 'way', 'in', 'the', 'universe.']

In [37]:
msg = "I'm just a simple man trying to make my way in the universe."
msg_list = msg.split('m')
print(msg_list)

["I'", ' just a si', 'ple ', 'an trying to ', 'ake ', 'y way in the universe.']

In [38]:
len(msg_list)

6

In [39]:
msg = "I'm just a simple man trying to make my way in the universe."
msg_list = msg.split(' ', 3)
print(msg_list)
print(len(msg_list))
print(msg_list[0])
print(msg_list[1])
print(msg_list[2])
print(msg_list[3])
print()

print(msg.split(' ',3)[1:3])

["I'm", 'just', 'a', 'simple man trying to make my way in the universe.']
4
I'm
just
a
simple man trying to make my way in the universe.

['just', 'a']

### Exercise 1
Find the fourth word in a phrase, "Python is a great first language". 
First, split "Python is a great first language" into a list and then display the fourth word.

In [40]:
msg = "Python is a great first language"
msg_list = msg.split(' ')
print(msg_list)

print(msg_list[3])
print()

['Python', 'is', 'a', 'great', 'first', 'language']
great

### List Methods 
add item to a list

In [41]:
print(squares)
squares[len(squares)] = 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

IndexError: list assignment index out of range

In [42]:
# list method - append()

squares.append(100)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 100]

In [43]:
items = ["shirts", "hat", "shoes"]
items.append(99)
print(items)

['shirts', 'hat', 'shoes', 99]

In [44]:
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]

In [45]:
person = []
person.append("James Monroe")
person.append(1817)
person.append(1825)
print(person)

['James Monroe', 1817, 1825]

In [46]:
presidents.append(person)
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809], ['James Monroe', 1817, 1825]]

In [47]:
person = []
person.append(1809)
person.append(1817)
print(person)

[1809, 1817]

In [48]:
# list method - insert()

person.insert(0, "James Madison")
print(person)

['James Madison', 1809, 1817]

In [49]:
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809], ['James Monroe', 1817, 1825]]

In [50]:
presidents.insert(3, person)
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809], ['James Madison', 1809, 1817], ['James Monroe', 1817, 1825]]

In [51]:
# list method - extend()

names = ['George Washington', 'John Adams', 'Thomas Jefferson']
more_names = ['James Madison', 'James Monroe']

org_names = names.copy()

names.extend(more_names)

print(f"org_names:  {org_names}")
print(f"names:      {names}")
print(f"more_names: {more_names}")

org_names:  ['George Washington', 'John Adams', 'Thomas Jefferson']
names:      ['George Washington', 'John Adams', 'Thomas Jefferson', 'James Madison', 'James Monroe']
more_names: ['James Madison', 'James Monroe']

In [52]:
more_names.append("test")

print(f"org_names:  {org_names}")
print(f"names:      {names}")
print(f"more_names: {more_names}")

org_names:  ['George Washington', 'John Adams', 'Thomas Jefferson']
names:      ['George Washington', 'John Adams', 'Thomas Jefferson', 'James Madison', 'James Monroe']
more_names: ['James Madison', 'James Monroe', 'test']

In [59]:
spring = ["March", "April", "May"]
summer = ["June", "July", "Aug"]
fall = ["September", "October", "November"]
winter = ["December", "January", "February"]

year = spring.copy()
#year = spring
year.extend(summer)
year.extend(fall)
year.extend(winter)

yeara = spring.copy()
#yeara = spring
yeara.append(summer)
yeara.append(fall)
yeara.append(winter)
             
print(year)
print(len(year))
print(yeara)
print(len(yeara))
print(spring)

['March', 'April', 'May', 'June', 'July', 'Aug', 'September', 'October', 'November', 'December', 'January', 'February']
12
['March', 'April', 'May', ['June', 'July', 'Aug'], ['September', 'October', 'November'], ['December', 'January', 'February']]
6
['March', 'April', 'May']

In [60]:
print(spring, summer, fall, winter)

['March', 'April', 'May'] ['June', 'July', 'Aug'] ['September', 'October', 'November'] ['December', 'January', 'February']

In [61]:
spr = spring.copy()
spr.extend("June")
spra = spring.copy()
spra.extend('June')
print(spr)     # what do you think?
print(spra)

#June is viewd as a list and each character is in an element

['March', 'April', 'May', 'J', 'u', 'n', 'e']
['March', 'April', 'May', 'J', 'u', 'n', 'e']

In [63]:
spr = spring.copy()
spr.extend(["June"])  #June is in a list
print(spr)

['March', 'April', 'May', 'June']

In [64]:
# list method - index()
print(person)
print(person.index("James Madison"))

['James Madison', 1809, 1817]
0

In [65]:
person.index(1809)

1

In [66]:
person.index(1819)

ValueError: 1819 is not in list

In [67]:
print(squares)
print(squares.index(100))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 100]
9

In [68]:
print(person)
print(presidents.index(person))
print(presidents)

['James Madison', 1809, 1817]
3
[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809], ['James Madison', 1809, 1817], ['James Monroe', 1817, 1825]]

In [69]:
print(presidents.index(['James Madison', 1809, 1817]))

3

In [72]:
print(presidents.index(['James Madison', 1809, 1817]))
print(presidents.index(['james madison', 1809, 1817]))

3

ValueError: ['james madison', 1809, 1817] is not in list

In [73]:
scores = [100, 99, 89, 99, 78]
print(scores.index(99))

1

In [80]:
# list method - copy()

clothes = ['shirts', 'jacket', 'pants', 'shorts']
print(clothes)

org_clothes = clothes
print(org_clothes)

clothes.append('coat')
print(clothes)

['shirts', 'jacket', 'pants', 'shorts']
['shirts', 'jacket', 'pants', 'shorts']
['shirts', 'jacket', 'pants', 'shorts', 'coat']

In [81]:
print(org_clothes) #The org_clothes now contains the new clothes

['shirts', 'jacket', 'pants', 'shorts', 'coat']

In [82]:
clothes = ['shirts', 'jacket', 'pants', 'shorts']
org_clothes = clothes.copy()
clothes.append('coat')

print(clothes)
print()
print(org_clothes)

['shirts', 'jacket', 'pants', 'shorts', 'coat']

['shirts', 'jacket', 'pants', 'shorts']

### Exercise 2
    1. Ask a user for 2 numbers. 
    2. Generate 5 random numbers between those 2 numbers and save it to a list called nos1. 
    3. Generate 3 random numbers between those 2 numbers and save it to a list called nos2. 
    4. Make a copy of nos1 and save it to variable called all_nos.
    5. Extend nos2 to the end of nos1.
    6. Print original 5 random numbers, 3 random numbers, and all 8 numbers.

In [86]:
# ask a user for 2 numbers - do you need to import anything?
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))

Enter a number: 4
Enter a number: 89

In [98]:
# generate 5 random numbers between those 2 numbers and save it to a list called nos1
import random as rand

nos1 = [rand.randint(num1,num2), rand.randint(num1,num2), rand.randint(num1,num2), rand.randint(num1,num2), rand.randint(num1,num2)]
print(nos1)

[59, 64, 14, 62, 68]

In [99]:
# generate 3 random numbers between those 2 numbers and save it to a list called nos2
nos2 = [rand.randint(num1,num2), rand.randint(num1,num2), rand.randint(num1,num2)]

print(nos2)

[89, 49, 36]

In [100]:
# copy nos1 and save to all_nos variable
all_nos = nos1.copy()
print(all_nos)

[59, 64, 14, 62, 68]

In [101]:
# extend nos2 to the end of all_nos

all_nos.extend(nos2)
print(all_nos)

[59, 64, 14, 62, 68, 89, 49, 36]

In [104]:
# print original 5 random numbers, 3 random numbers, and all 8 numbers

print(f"5 random numbers: {nos1}")
print(f"3 random numbers: {nos2}")
print(f"All random numbers: {all_nos}")

5 random numbers: [59, 64, 14, 62, 68]
3 random numbers: [89, 49, 36]
All random numbers: [59, 64, 14, 62, 68, 89, 49, 36]

### List Methods
remove item in a list

In [53]:
# pop()

clothes = ['shirts', 'jacket', 'pants', 'shorts', 'coat']
org_clothes = clothes.copy()
x = clothes

In [54]:
item = clothes.pop()
print(item)
print(clothes)

coat
['shirts', 'jacket', 'pants', 'shorts']

In [116]:
item = clothes.pop(2)
print(item)
print(clothes)

pants
['shirts', 'jacket', 'shorts']

In [117]:
# remove()

itemr = clothes.remove("jacket")
print(itemr)
print(clothes)

None
['shirts', 'shorts']

In [118]:
clothes.append(item)
clothes.insert(1, item)
clothes.append(item)
print(clothes)

['shirts', 'pants', 'shorts', 'pants', 'pants']

In [119]:
clothes.remove("pants")
print(clothes)

['shirts', 'shorts', 'pants', 'pants']

In [120]:
clothes.remove("jacket")

ValueError: list.remove(x): x not in list

In [121]:
print(org_clothes)
print(x)
print(clothes)

['shirts', 'jacket', 'pants', 'shorts', 'coat']
['shirts', 'shorts', 'pants', 'pants']
['shirts', 'shorts', 'pants', 'pants']

In [122]:
"aple" in "apple pie"

False

In [123]:
# count()

"pants" in clothes  #Use 'in' to determine that item is in list

True

In [124]:
clothes.count("pants")

2

In [125]:
clothes.count("jacket")

0

In [126]:
# list method: sort()
names = ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']
org_names = names.copy()
names.sort()

print(f"names:     {names}")
print(f"org_names: {org_names}")

names:     ['$', '1', '9', 'Count', 'big bird', 'count', 'elmo']
org_names: ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']

In [127]:
names = org_names.copy()
names.sort(reverse=True)

print(f"names:     {names}")
print(f"org_names: {org_names}")

names:     ['elmo', 'count', 'big bird', 'Count', '9', '1', '$']
org_names: ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']

In [128]:
# sorted() built-in function

names = org_names.copy()
print(f"Before: {names}")
ordered = sorted(names)
print(f"After:  {ordered}")

Before: ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']
After:  ['$', '1', '9', 'Count', 'big bird', 'count', 'elmo']

In [132]:
president1 = ['George Washington', 1789, 1797]
print(f"Before: {president1}")

ordered = sorted(president1)
print(f"After:  {ordered}")

Before: ['George Washington', 1789, 1797]

TypeError: '<' not supported between instances of 'int' and 'str'

In [133]:
#Bad idea to resolve above error

ordered = sorted(str(president1))
print(f"After:  {ordered}")

After:  [' ', ' ', ' ', "'", "'", ',', ',', '1', '1', '7', '7', '7', '8', '9', '9', 'G', 'W', '[', ']', 'a', 'e', 'e', 'g', 'g', 'h', 'i', 'n', 'n', 'o', 'o', 'r', 's', 't']

In [134]:
presidents = [['George Washington', 1789, 1797], 
              ['Thomas Jefferson', 1801, 1809], 
              ['John Adams', 1797, 1801]]

print(f"Before: {presidents}")
ordered = sorted(presidents)
print(f"After:  {ordered}")

Before: [['George Washington', 1789, 1797], ['Thomas Jefferson', 1801, 1809], ['John Adams', 1797, 1801]]
After:  [['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]

In [135]:
l1 = [ 1, 11, 111]
l2 = [1, 12]
l3 = [1, 12, '124']

test = [l2, l1, l3]
org_test = test.copy()

In [136]:
print(f"Before: {test}")
ordered = sorted(test)
print(f"After:  {ordered}")

Before: [[1, 12], [1, 11, 111], [1, 12, '124']]
After:  [[1, 11, 111], [1, 12], [1, 12, '124']]

In [137]:
def replace(arg) :
    arg = arg * 2
    return arg

a = 10
b = replace(a)
print(a, b)

10 20

In [140]:
# list is a mutable data type

def replace(sample, index) :
    sample[index] = '*'
    
orig = [1, 2, 3]
print(orig)
replace(orig, 1)
print(orig)

[1, 2, 3]
[1, '*', 3]

In [144]:
def xfer(arg1, arg2) :
    print(f"entered xfer():arg1={arg1}, arg2={arg2}")
    temp = arg1
    arg1 = arg2
    arg2 = temp
    print(f"exiting xfer():arg1={arg1}, arg2={arg2}")
    
x = 5
y = [1, 2, 3]
xfer(x, y)  #the argumets are changeable in the function, moving around variables

print(x, y, sep="\n")  #the new value were not returned

entered xfer():arg1=5, arg2=[1, 2, 3]
exiting xfer():arg1=[1, 2, 3], arg2=5
5
[1, 2, 3]

In [145]:
# data types (integer, float, string) are not mutable but list is 

#this changes an element of list
def xfer2(arg1, arg2) :
    print(f"entered xfer2():arg1={arg1}, arg2={arg2}")
    arg1 *= 2
    arg2[0] = arg1
    print(f"exiting xfer2():arg1={arg1}, arg2={arg2}")
    
    
x = 5
y = [1, 2, 3]
xfer2(x, y)

print(f"\nx={x} y={y}")

entered xfer2():arg1=5, arg2=[1, 2, 3]
exiting xfer2():arg1=10, arg2=[10, 2, 3]

x=5 y=[10, 2, 3]

### Exercise 3
Get 7 book tittles from a user and save it in a list.
Then, remove the title in the middle of the list after sorting them alphabetically. 
Display the original tittles, sorted tittles, and titles after removing one.

In [147]:
book1 = (input("Enter a book title: "))
book2 = (input("Enter a book title: "))
book3 = (input("Enter a book title: "))
book4 = (input("Enter a book title: "))         
book5 = (input("Enter a book title: "))
book6 = (input("Enter a book title: "))
book7 = (input("Enter a book title: "))

Enter a book title: Harry Potter
Enter a book title: AWS Certified
Enter a book title: Pythun made Easy
Enter a book title: Moby Dick
Enter a book title: Datalytics 1-2-3
Enter a book title: Who Dares Wins
Enter a book title: The Dark Lord's Equal

In [156]:
book_list = [book1, book2, book3, book4, book5, book6, book7]

org_book = book_list.copy()
print(f"org bookist:     {org_book}")

sorted_list = sorted(book_list)
print(f"sorted booklist: {sorted_list}")

num = int(len(sorted_list)/2)
updated_list = sorted_list.copy()
book = updated_list.pop(num)
print(f"updated booklist: {updated_list}")

org bookist:     ['Harry Potter', 'AWS Certified', 'Pythun made Easy', 'Moby Dick', 'Datalytics 1-2-3', 'Who Dares Wins', "The Dark Lord's Equal"]
sorted booklist: ['AWS Certified', 'Datalytics 1-2-3', 'Harry Potter', 'Moby Dick', 'Pythun made Easy', "The Dark Lord's Equal", 'Who Dares Wins']
updated booklist: ['AWS Certified', 'Datalytics 1-2-3', 'Harry Potter', 'Pythun made Easy', "The Dark Lord's Equal", 'Who Dares Wins']

### Tuple

In [55]:
week = ('M', 'T', 'W', 'Th', 'F', 'Sa', 'Su')
print(week[3])

Th

In [56]:
print(week[-2])

Sa

In [57]:
print(week[::2])

('M', 'W', 'F', 'Su')

In [58]:
hobbies = ("hiking", "tennis", "foodie")
print(hobbies[2])
print(hobbies[5])

foodie

IndexError: tuple index out of range

In [59]:
hobbies[2] = "binge watching"
print(hobbies)

TypeError: 'tuple' object does not support item assignment

In [60]:
# empty tuple

items = ()
print(type(items))
print(len(items))

<class 'tuple'>
0

In [61]:
items2 = ("one")
print(type(items2))
print(len(items2))

<class 'str'>
3

In [62]:
# tuple with one item...add a comma after the item

items3 = ("one",)
print(type(items3))
print(len(items3))

<class 'tuple'>
1

In [64]:
# tuple with multiple items

items4 = ("one", "two",)
print(type(items4))
print(len(items4))

<class 'tuple'>
2

In [66]:
items5 = ("one", "yes")
print(type(items))
print(len(items5))

<class 'tuple'>
2

In [67]:
scores = (99, 87, 79, 88, 88, 100)
names = ("Rachel", "Monica", "Phoebe", "Joey", "Chandler", "Ross")
sample = ("jacket", "M", 20, 9.99)

print(scores)
print(names)
print(sample)

(99, 87, 79, 88, 88, 100)
('Rachel', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross')
('jacket', 'M', 20, 9.99)

In [69]:
demo = tuple(('3-22', '4-30', '5-11', '12-18'))
print(demo)
print(type(demo))
print(len(demo))

demo = tuple('3-22', '4-30', '5-11', '12-18')

('3-22', '4-30', '5-11', '12-18')
<class 'tuple'>
4

TypeError: tuple expected at most 1 arguments, got 4

In [72]:
demo2 = list(('3-22', '4-30', '5-11', '12-18'))
print(demo2)
print(type(demo2))
print(len(demo2))

demo2 = list('3-22', '4-30', '5-11', '12-18')

['3-22', '4-30', '5-11', '12-18']
<class 'list'>
4

TypeError: list expected at most 1 arguments, got 4

In [73]:
# list() & tuple() built-in function

hobbies_list = list(hobbies)
print(hobbies)
print(hobbies_list)

('hiking', 'tennis', 'foodie')
['hiking', 'tennis', 'foodie']

In [74]:
hobbies_list[2] = "binge watching"
print(hobbies_list)

['hiking', 'tennis', 'binge watching']

In [75]:
hobbies_tuple = tuple(hobbies_list)
print(hobbies_list)
print(hobbies_tuple)

['hiking', 'tennis', 'binge watching']
('hiking', 'tennis', 'binge watching')

In [76]:
range(1, 5)

range(1, 5)

### Repetition Statement - Loop

In [77]:
# counter loop

for item in [1, 2, 3, 4, 5] :
    print(item)

1
2
3
4
5

In [78]:
print(clothes)
for item in clothes :
    print(f"I have {item}")

print("Done!")

['shirts', 'jacket', 'pants', 'shorts']
I have shirts
I have jacket
I have pants
I have shorts
Done!

In [79]:
for item in (1, 2, 3, 4, 5) :
    print(item)
    
print("Done!")

1
2
3
4
5
Done!

In [80]:
for item in "apple" :
    print(item)
    
print("Done!") 
print(item)

a
p
p
l
e
Done!
e

In [81]:
item = 'a'
print(item)
item = 'p'
print(item)

a
p

In [82]:
# range() built-in function

for item in range(1, 11) :
    print(item)

1
2
3
4
5
6
7
8
9
10

In [83]:

for item in range(1, 11, 2) :
    print(item)

1
3
5
7
9

In [84]:
dwarves = ["Happy", "Grumpy", "Sleepy", "Bashful", "Sneezy", "Doc", "Dopey"]

print(f"\nThere are {len(dwarves)} dwarves and Snow White")
for dwarf in dwarves : 
    print(dwarf)

There are 7 dwarves and Snow White
Happy
Grumpy
Sleepy
Bashful
Sneezy
Doc
Dopey

### Exercise 4
If you save $1,000 every year with 1% annual interest, how much would you save in 5 years?

Fix code in below cell and show it works.

In [103]:
# original

rate = 1/100
savings = 0

for i in range(1, 6) :
    savings = savings + 1000
    savings += savings * rate
 
print(f"${savings:,.2f}")

$5,152.02

In [85]:
# original

rate = 1/100  # 0.01
savings = 0
total = 0

for i in range(1, 6) :
    savings = total + 1000 
    total = (savings * rate)  + savings

print(f"${total:,.2f}")

$5,152.02

1010
1010 + 1000 + (1010+1000)* 0.01