### Strings

In [6]:
first_name = "Cookie"
last_name = " Monster"

In [7]:
print(first_name + last_name)

Cookie Monster

In [8]:
first_name[-1]

'e'

In [9]:
# title() method returns a string with the first character in upper case for every word in the string

message = "  learn to code in python "
print(message.title())
print(message)

  Learn To Code In Python
  learn to code in python

In [10]:
# upper() method returns a string in all upper cases

message = "  learn to code in python "
msg = message.upper()
print(msg)
print(message)

  LEARN TO CODE IN PYTHON
  learn to code in python

In [11]:
print(msg)
print(msg.lower())

  LEARN TO CODE IN PYTHON
  learn to code in python

In [12]:
# strip() method returns a string after removing all leading and following blanks in the string

message = "  learn to code in python "
print(message.strip())
print(message)

learn to code in python
  learn to code in python

In [14]:
# lstrip() method returns a string after removing all leading blanks in the string

message = "  learn to code in python "
num = len (message)
num
print(message.lstrip())
print(message)

learn to code in python
  learn to code in python

In [15]:
# rstrip() method returns a string after removing all following blanks in the string

message = "  learn to code in python        "
print(message.rstrip())
print(message)

  learn to code in python
  learn to code in python

In [16]:
# replace() method returns a string with old substring replaced with new substring

message = "  learn to code in python        "
print(message.replace(' ', '*'))
print(message)

**learn*to*code*in*python********
  learn to code in python

In [17]:
# capitalize() method returns a string with the first character in upper case

message = "learn to code"
print(message)
print(message.capitalize())

learn to code
Learn to code

In [18]:
# what is happening?  The first index is a whitespace

message = " learn to code"
print(message)
print(message.capitalize())

 learn to code
 learn to code

In [19]:
"python".capitalize()

'Python'

In [20]:
# center() method returns a centered string


message = "yeah"
print(message)
print(message.center(20))

yeah
        yeah

In [24]:
# count() method returns the occurences of the substring in the given string

message = "  learn to code in python "
print(">>>"+message+"<<<")
message.count(" ")

>>>  learn to code in python <<<

7

In [25]:
message.count(" ")

7

In [26]:
message.count("Code")

0

In [28]:
message = "I love Python!"
print(message)
print(message[10])

I love Python!
h

In [30]:
message[-15]

IndexError: string index out of range

In [31]:
message[20]

IndexError: string index out of range

In [32]:
# len() function returns the number of items in an object


len(message)

14

In [34]:
len("")

0

In [35]:
len("99.99")

5

In [37]:
len("\n")

1

In [38]:
len(123.56789)

TypeError: object of type 'float' has no len()

### Exercise 1
Write a program to right-justify text where the maximum number of characters per line is 50.

In [41]:
line1 = "   beautiful is better than ugly.   "
line1.rjust(50)

'                 beautiful is better than ugly.   '

In [50]:
# fix any errors

MAXCHAR = 50

# write code to remove leading and following blanks
line1.strip()

no_char = len(line1)            # returns a number of charcters in line 
print(no_char)

# find the number of blanks to fill the line
no_blank = MAXCHAR - no_char 
print(no_blank)


# fill the leading blanks
result = "--" * no_blank 
print(result)

36
14
----------------------------

In [51]:
# concatenate the text to leading blanks

result = result + line1

# print out
print("1234567890"*5)
print(result)

12345678901234567890123456789012345678901234567890
----------------------------   beautiful is better than ugly.

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [52]:
message = "I love {name}"
print(message.format(name = "Python"))
print(message)

I love Python
I love {name}

In [53]:
print("I love {0}".format("Python"))
print("I love {}".format("Python"))

I love Python
I love Python

In [54]:
print("I love {} and {}".format("to eat", "drink"))

I love to eat and drink

In [55]:
print("I love {} and {}".format("drink", "to eat"))

I love drink and to eat

In [56]:
print("I love {one} and {two}".format(two="drink", one="to eat"))

I love to eat and drink

In [57]:
msg = "My name is {fname}.".format(fname="Elmo")
print(msg)

My name is Elmo.

In [59]:
msg = "Your name is {fname} and you are {age}.".format(fname="Big Bird", age=5)
print(msg)

Your name is Big Bird and you are 5.

In [60]:
msg = "Your name is {0} and you are {1}.".format("Count Von Count", 999)
print(msg)

Your name is Count Von Count and you are 999.

In [61]:
msg = "Your name is {} and you are {}.".format("Cookie Monster", 9)
print(msg)

Your name is Cookie Monster and you are 9.

In [62]:
# :f for fixed point number, default with 6 decimals

price = 9.99
msg = "The price is ${:f}"
print(msg.format(price))

The price is $9.990000

In [63]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.2f}"
print(msg.format(price))

The price is $9.99

In [67]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.4f}"
print(msg.format(price))

The price is $9.9900

In [68]:
# :, to display comma as a thousand separator

msg = "Total price is ${:,}"
print(msg.format(price*10000))

Total price is $99,900.0

In [69]:
msg = "Total price is ${:,.2f}"
print(msg.format(price*1000000000))

Total price is $9,990,000,000.00

In [70]:
msg = "Current interest rate is {:%}"
print(msg.format(0.0516))

Current interest rate is 5.160000%

In [71]:
msg = "Current interest rate is {:.2%}"
print(msg.format(0.0516))

Current interest rate is 5.16%

In [ ]:
msg = "Current interest rate is {:.1%}"
print(msg.format(0.0516))

### Formatted String

In [72]:
first_name = "Big"
last_name = "Bird"

In [73]:
print("The main character is {first_name} {last_name}.")

The main character is {first_name} {last_name}.

In [74]:
print(f"The main character is {first_name} {last_name}.")

The main character is Big Bird.

In [75]:
amount = 1234567.89123
print(f"Amount is ${amount:,.3f}")

Amount is $1,234,567.891

In [76]:
print(f"Amount is {amount:,.3%}")

Amount is 123,456,789.123%

In [77]:
amount

1234567.89123

In [78]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

Subtotal: $5299.469999999999

In [79]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

Subtotal: $5,299.469999999999

In [80]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

Subtotal: $5299.47

In [81]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

Subtotal: $5,299.47

In [82]:
x = 123.45143
print(f"{x:.3f}")

123.451

In [83]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

Current rate: 3.26%

In [84]:
print(f"Current rate: {rate:.9%}")

Current rate: 3.255000000%

In [85]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>678
Enter next number:
>298
678 * 298 = 202044

In [86]:
print(f"{numb1} + {numb2} = {numb1 + numb2 :,.3f}")
print(f"{numb1} - {numb2} = {numb1 - numb2 :,.3f}")
print(f"{numb1} * {numb2} = {numb1 * numb2 :,.3f}")
print(f"{numb1} / {numb2} = {numb1 / numb2 :,.3f}")

678 + 298 = 976.000
678 - 298 = 380.000
678 * 298 = 202,044.000
678 / 298 = 2.275

### Exercise 2
Write a program to find out user's annual salary. Then compute user's monthly salary and bi-weekly salary.
Display your results in nice formatted output.

#### Identify IPO

input:  Annual Salary

process in pseudocode:  
    BEGIN
        Montly salary =  Annual Salary divide by 12
        Bi-weekly = Annual Salary divide by 26
    END

output:  AnnuaL,Monthly, bi-weekly Salary

#### Convert your pseudocode in to Python code

In [87]:
annsal = float(input("Enter your yearly salary"))

monsal = annsal/12
bisal = annsal/26

print(f"Annual Salary: ${annsal :,.2f}")
print(f"Montly salary: ${monsal :,.2f}")
print(f"Bi-weekly salary: ${bisal :,.2f}")

Enter your yearly salary65000
Annual Salary: $65,000.00
Montly salary: $5,416.67
Bi-weekly salary: $2,500.00

### Scientific Number Notation

In [88]:
no1 = 58000
print(f"{no1:e}")

5.800000e+04

In [89]:
print(f"{no1:.1e}")
print(f"{no1:.2e}")

5.8e+04
5.80e+04

In [90]:
no2 = 0.000123

print(f"{no2:.1e}")
print(f"{no2:.3e}")

1.2e-04
1.230e-04

In [91]:
no3 = 1.23456789e3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.2f}")

1234.56789
1,234.56789
1,234.57

In [92]:
no3 = 1.23456e-3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.3f}")
print(f"{no3:,.2f}")

0.00123456
0.00123456
0.001
0.00

In [93]:
no3 = 9e-3
print(f"{no3}")

0.009

### Exercise 3

In [96]:
# 1. Write 620000 in a scientific number notation
# 6.2e+5
num1 = 620000
print(f"{num1 :.1e}")

6.2e+05

In [97]:
# 2. write 0.0091 in a scientific number notation
# 9.1e-3
num2 = 0.0091
print(f"{num2 :.1e}")

9.1e-03

### Exercise 4

#### 1. Convert 217 to a binary number using FLOOR-DIVISION and MOD arithmetic operations

In [10]:
# 2 to the power of 0 
print(1//2)
print(1%2)

0
1

In [9]:
# power of 1
print(3//2)
print(3%2)

1
1

In [8]:
# power of 2
print(6//2)
print(6%2)

3
0

In [7]:
# power of 3
print(13//2)
print(13%2)

6
1

In [6]:
# power of 4
print(27//2)
print(27%2)

13
1

In [5]:
# power of 5
print(54//2)
print(54%2)

27
0

In [4]:
# power of 6
print(108//2)
print(108%2)

54
0

In [3]:
# power of 7
print(217//2)
print(217%2)

108
1

In [22]:
# Now, assemble your answer
#binnum = 0b11011001
bin(217)

TypeError: 'int' object is not callable

#### 2. Convert 0b1110 0011 to a decimal number

In [25]:
# 2 to the power of 0
1*(1)
power0 = 1*(2**0)
print(power0)

1

In [26]:
# power of 1
1*(2)
power1 = 1*(2**1)
print(power1)

2

In [35]:
# power of 2
1*(2*2)
power2 = 1*(2**2)
print(power2)

4

In [29]:
# power of 3
1*(2*2*2)
power3 = 1*(2**3)
print(power3)

8

In [30]:
# power of 4
1*(2*2*2*2)
power4 = 1*(2**4)
print(power4)

16

In [31]:
# power of 5
1*(2*2*2*2*2)
power5 = 1*(2**5)
print(power5)

32

In [32]:
# power of 6
1*(2*2*2*2*2*2)
power6 = 1*(2**6)
print(power6)

64

In [33]:
# power of 7
1*(2*2*2*2*2*2*2)
power7 = 1*(2**7)
print(power7)

128

In [36]:
# Now, assemble your answer
1+ 2 + 4 + 8 + 16 + 32 + 64 + 128

print(power0+power1+power2+power3+power4+power5+power6+power7)

255

### Use Data Type Casting

In [1]:
numb = 0b10011011
int(numb)

155

In [2]:
int(0b10011011)

155

In [3]:
bin(155)

'0b10011011'

In [4]:
type(bin(153))

str

In [5]:
numb = 0o01234567
int(numb)

342391

In [6]:
oct(342391)

'0o1234567'

In [7]:
numb = 153
hex(153)

'0x99'

In [8]:
int("0b10011011", 2)

155

In [9]:
int("0o10011011", 8)

2101769

In [10]:
int("0o1234567", 8)

342391

In [11]:
int(0x20b)

523

In [17]:
int("1101", 2)

13

In [18]:
int("1101", 8)

577

In [19]:
int("1101", 16)

4353

In [16]:
numb = "1011"
print(f"Binary {numb} is integer {int(numb, 2)}\nOctal {numb} is integer {int(numb, 8)}\nHexa {numb} is integer {int(numb,16)}")

Binary 1011 is integer 11
Octal 1011 is integer 521
Hexa 1011 is integer 4113